---
import Layout from '../astro/main.astro';
const { frontmatter } = Astro.props;
---
<Layout desc={ frontmatter.desc } title={ frontmatter.title }>
    <a href="../../" style="background: none;">
        <span class="material-symbols-outlined" style="display: inline;color:palevioletred">arrow_back</span>
    </a>
    <slot/>
    <details>
        <summary>comments</summary>
        <script src="https://giscus.app/client.js"
        data-repo="roxcelic/blog"
        data-repo-id="R_kgDOMFba5w"
        data-category="Announcements"
        data-category-id="DIC_kwDOMFba584ChuBw"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="https://files.roxcelic.love/themes/gis.css"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
    </details>
</Layout>