---
import Layout from '../astro/main.astro';
import TitleBar from '../../components/title-bar.astro';


import Music from '../../components/music.astro';
import LinkV2 from '../../components/linkV2.astro';

import { getSortedPosts } from '../../lib/posts.ts';
const posts = getSortedPosts();
const { frontmatter } = Astro.props;
---
<Layout desc={ frontmatter.desc } title={ frontmatter.title }>
    <TitleBar/>
    <div class="input-wrapper">
        <i class="material-symbols-outlined">search</i>
        <input id="sortInput" style="border-color: #c90a4a;border-width: 2.5px;" placeholder="Search"/>
    </div>
    
    <Music/>
    <h3 style="text-align: left;margin-top: 20vh;margin-left: 5%;">heres a list of blog posts:</h3>
    <div style="text-align: left;" id="blogposts">
        {posts.map((post) => <LinkV2 url={ post.url } title={ post.title } desc={ post.desc }tags={ post.tags }/>)}
    </div>
    <script src="../../res/js/reorder"/>
</Layout>