---
const approvedSearches = [
    //terms
    "school", "music", "calendar", "tech", "website", "android",
    //authors
    "roxie"
]
---
<div class="fullcontent">
    <h5>please search one of the following terms:</h5>
    - {
        approvedSearches && 
        <span>
            {approvedSearches.join(", ")}
        </span>
    } -
    <input type="text" id="searchBox" style="width: 95%; border-radius: 3.5px;">
    <p id="errorMessage" class="error-message"></p>
</div>
<script is:inline>
    function handleSearch() {
        const searchInput = document.getElementById('searchBox').value.trim();
        const errorMessageElement = document.getElementById('errorMessage');
        window.location.href = `../filter/${searchInput}`;
    }    
    function handleKeyPress(event) {
        if (event.key == 'Enter') {
            handleSearch();
        }
    }
    document.getElementById('searchBox').addEventListener('keypress', handleKeyPress);
</script>
