---
const approvedSearches = [
    //terms
    "school", "music", "calendar", "tech", "website", "android",
    //authors
    "roxie"
]
---
<div class="fullcontent">
    <h5>please search one of the following terms:</h5>
    - {
        approvedSearches && 
        <span>
            {approvedSearches.join(", ")}
        </span>
    } -
    <input type="text" id="searchBox" style="width: 95%; border-radius: 3.5px;">
    <p id="errorMessage" class="error-message"></p>
</div>
<script is:inline>
    const approvedSearches = [
        //terms
        "school", "music", "calendar", "tech", "website", "android",
        //authors
        "roxie",
        //easteregg
        "chicken nuggies"
    ];
    function handleSearch() {
        const searchInput = document.getElementById('searchBox').value.trim();
        const errorMessageElement = document.getElementById('errorMessage');
        errorMessageElement.textContent = '';
        if (approvedSearches.includes(searchInput)) {
            window.location.href = `./filter/${searchInput}`;
        } else {
            errorMessageElement.textContent = "Error: Invalid search term: "+searchInput;
        }
    }    
    function handleKeyPress(event) {
        if (event.key == 'Enter') {
            handleSearch();
        }
    }
    document.getElementById('searchBox').addEventListener('keypress', handleKeyPress);
</script>
