<div class="top">
    <div id="menu-container">
        <div id="menu">
            <p><a href="https://roxcelic.love/">home</a></p>
            <p>|</p>
            <p><a href="/blog/">blog</a></p>
            <p>|</p>
            <p><a href="https://roxcelic.love/hf/">fun!</a></p>
            <p>|</p>
            <p><a href="https://roxcelic.love/roxie/">roxie</a></p>
        </div>
        <div class="bar" id="holt2"/>
    </div>
</div>